.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ddd;
  font-size: 1.6rem;
}

@media only screen and (max-width: 800px) {
  .app {
    height: auto;
    padding: 3rem;
  }
}
